/* Copyright 2015 Gustavo Muro
 * All rights reserved.
 *
 * This file is part of CIAA Firmware.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * 3. Neither the name of the copyright holder nor the names of its
 *    contributors may be used to endorse or promote products derived from this
 *    software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 *
 */

#ifndef CIAAMODBUS_CONFIG_H_
#define CIAAMODBUS_CONFIG_H_
/** \brief Modbus Example Config Header File
 **
 ** This a sample file for configuration of modbus stack. Copy to own
 ** project and eliminate ".sample" extension.
 **
 **/

/** \addtogroup CIAA_Firmware CIAA Firmware
 ** @{ */
/** \addtogroup Modbus CIAA Modbus
 ** @{ */

/*
 * modification history (new versions first)
 * -----------------------------------------------------------
 * 20153108 v0.8.1 GMuro   initial version
 */

/*==================[inclusions]=============================================*/
#include "ciaaPOSIX_stdint.h"

/*==================[cplusplus]==============================================*/
#ifdef __cplusplus
extern "C" {
#endif

/*==================[macros]=================================================*/

/** \brief Total gateway
 **
 ** This macro define total gateway available.
 **
 **/
#define CIAA_MODBUS_TOTAL_GATEWAY            1

/** \brief Total masters
 **
 ** This macro define number of masters available.
 ** Each master is accessed by its handler and messages generated by this
 ** are addressed by the gateway to which it belongs.
 ** (see ciaaModbus_gatewayAddMaster() function).
 **
 **/
#define CIAA_MODBUS_TOTAL_MASTERS            0

/** \brief Total slaves
 **
 ** The messages are delivered by the gateway to which it belongs if it
 ** matches its ID.
 ** (see ciaaModbus_gatewayAddSlave() function).
 **
 **/
#define CIAA_MODBUS_TOTAL_SLAVES             1

/** \brief Total transport ASCII
 **
 ** Each transport ASCII can be master or slave.
 ** If slave, the messages are received by the gateway to which it belongs,
 ** and delivered to server corresponding.
 ** If master, the messages are send if ID no match with any slave
 ** on gateway.
 **
 **/
#define CIAA_MODBUS_TOTAL_TRANSPORT_ASCII    1

/** \brief Total transport RTU
 **
 ** Each transport RTU can be master or slave.
 ** If slave, the messages are received by the gateway to which it belongs,
 ** and delivered to server corresponding.
 ** If master, the messages are send if ID no match with any slave
 ** on gateway.
 **
 **/
#define CIAA_MODBUS_TOTAL_TRANSPORT_RTU      0

/** \brief Total transport TCP
 **
 ** Each transport TCP can be master or slave.
 ** If slave, the messages are received by the gateway to which it belongs,
 ** and delivered to server corresponding.
 ** If master, the messages are send if ID no match with any slave
 ** on gateway.
 **
 **/
#define CIAA_MODBUS_TOTAL_TRANSPORT_TCP      0

/** \brief Modbus base time
 **
 ** Time between ciaaModbus_gatewayMainTask() calls (milliseconds)
 **
 **/
#define CIAA_MODBUS_TIME_BASE                5

/*==================[typedef]================================================*/

/*==================[external data declaration]==============================*/

/*==================[external functions declaration]=========================*/

/*==================[cplusplus]==============================================*/
#ifdef __cplusplus
}
#endif
/** @} doxygen end group definition */
/** @} doxygen end group definition */
/*==================[end of file]============================================*/
#endif /* #ifndef CIAAMODBUS_CONFIG_H_ */